@font-face {
    font-family: 'UTMAvo' ;
    src: url( '../fonts/utm-avo/utm-avo.ttf' ) format('truetype');
}
@font-face {
    font-family: 'UTMAvoBold' ;
    src: url( '../fonts/utm-avo/utm-avobold.ttf' ) format('truetype');
}
$f_FontAwesome:"FontAwesome";
$f_Regular:'Roboto', sans-serif;
$f_Regular2:'Montserrat', sans-serif;
$f_Regular3:'Pattaya', sans-serif;
$f_Regular4:'UTMAvo', sans-serif;
$f_Regular5:'UTMAvoBold', sans-serif;